{% extends 'gestionnaire_de_notes/main.html' %}

{% block title %}Upload Notes{% endblock %}

{% block content %}
    <h2>Upload Notes</h2>
    <p>Veuillez télécharger un fichier CSV avec la structure suivante:</p>
    <pre>
ID de l'examen, Numéro de l'étudiant, Note, Appréciation
</pre>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" accept=".csv,.txt">
        <button type="submit">Upload</button>
    </form>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
{% endblock %}
