{% extends 'gestionnaire_de_notes/main.html' %}

{% block title %}Liste des Enseignants{% endblock %}

{% block content %}
    <h2>Liste des Enseignants</h2>
    <a href="{% url 'enseignant_create' %}">Ajouter un Enseignant</a>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for enseignant in enseignants %}
                <tr>
                    <td>{{ enseignant.nom }}</td>
                    <td>{{ enseignant.prenom }}</td>
                    <td>
                        <a href="{% url 'enseignant_update' enseignant.pk %}">Modifier</a>
                        <a href="{% url 'enseignant_delete' enseignant.pk %}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
