<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestionnaire de Notes{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'gestionnaire_de_notes/style.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <div class="navbar">
                <h1 class="logo"><a>Gestionnaire de Notes</a></h1>
                <nav>
                    <ul>
                        <li><a href="{% url 'accueil' %}">Accueil</a></li>
                        <li><a href="{% url 'etudiant_list' %}">Étudiants</a></li>
                        <li><a href="{% url 'ue_list' %}">Unités d'Enseignement</a></li>
                        <li><a href="{% url 'ressourceue_list' %}">Ressources</a></li>
                        <li><a href="{% url 'enseignant_list' %}">Enseignants</a></li>
                        <li><a href="{% url 'examen_list' %}">Examens</a></li>
                        <li><a href="{% url 'note_list' %}">Notes</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <p>&copy; 2024 SAE23 Gestionnaire de Notes.</p>
        </footer>
    </div>
</body>
</html>
