{% extends 'gestionnaire_de_notes/main.html' %}

{% block title %}Liste des Notes{% endblock %}

{% block content %}
    <h2>Liste des Notes</h2>
    <a href="{% url 'note_create' %}">Ajouter une Note</a>
    <a href="{% url 'upload_notes' %}">Ajouter une Note via un CSV</a>
    <table>
        <thead>
            <tr>
                <th>Examen</th>
                <th>Étudiant</th>
                <th>Note</th>
                <th>Appréciation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for note in notes %}
                <tr>
                    <td>{{ note.examen.titre }}</td>
                    <td>{{ note.etudiant.nom }} {{ note.etudiant.prenom }}</td>
                    <td>{{ note.note }}</td>
                    <td>{{ note.appreciation }}</td>
                    <td>
                        <a href="{% url 'note_update' note.pk %}">Modifier</a>
                        <a href="{% url 'note_delete' note.pk %}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
