{% extends 'gestionnaire_de_notes/main.html' %}

{% block title %}Liste des Ressources{% endblock %}

{% block content %}
    <h2>Liste des Ressources</h2>
    <a href="{% url 'ressourceue_create' %}">Ajouter une Ressource</a>
    <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Nom</th>
                <th>Descriptif</th>
                <th>Coefficient</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ressource in ressources %}
                <tr>
                    <td>{{ ressource.code_ressource }}</td>
                    <td>{{ ressource.nom }}</td>
                    <td>{{ ressource.descriptif }}</td>
                    <td>{{ ressource.coefficient }}</td>
                    <td>
                        <a href="{% url 'ressourceue_update' ressource.pk %}">Modifier</a>
                        <a href="{% url 'ressourceue_delete' ressource.pk %}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
